@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	image-rendering: pixelated;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, table {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Press Start 2P', cursive;
	background-image: url('wallpaper.jpg');
	background-color: #1a1a1a;
	color: #e0e0e0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 10px;
	text-align: center;
}

header {
	font-family: 'Honk', system-ui;
	font-size: xx-large;
}

/* Style the table and buttons */
table {
	border-collapse: collapse;
	margin-top: 20px;
	width: 100%; /* Ensure table width is 100% */
	max-width: 600px; /* Max width for larger screens */
}

td {
	padding: 5px;
}
.letter-absent {
	background-color: #666;
	color: #fff;
}
.letter-present {
	background-color: #ffcc00;
	color: #000;
}
.letter-correct {
	background-color: #33cc33;
	color: #fff;
}

button {
	width: 100%; /* Buttons take full width of cell */
	height: 50px;
	max-width: 50px; /* Max width for larger screens */
	border: 2px solid #000;
	background-color: #d3d3d3; /* Default button color */
	color: #000;
	font-size: 16px;
	font-family: inherit;
	cursor: pointer;
	transition: background-color 0.3s;
	margin: 2px; /* Add margin for spacing */
}

/* Define the different key states */
.key-absent {
	background-color: #666;
	color: #fff;
}

.key {
	background-color: #d3d3d3;
	color: #000;
}

.key-present {
	background-color: #ffcc00;
	color: #000;
}

.key-correct {
	background-color: #33cc33;
	color: #fff;
}

/* Add some extra styling for buttons on hover */
button:hover {
	opacity: 0.8;
}

/* Additional retro elements */
.header {
	font-size: 24px;
	margin: 20px 0;
	text-align: center;
	color: #ffcc00;
}

.footer {
	margin-top: 20px;
	font-size: 14px;
	text-align: center;
	color: #c01fff;
}

.game {
	font-family: 'Silkscreen', sans-serif;
	font-size: xx-large;
	color: green;
	background-color: black;
	border-top: 5px solid green;
	border-bottom: 5px solid green;
}

.board {
	vertical-align: top;
	font-size: xx-large;
	height: 100%;
}

.keyboard {
	font-family: 'Silkscreen', sans-serif;
	font-size: xx-large;
}

#enter {
	width: 3em;
	margin-left: 1em;
	background-color: #2d88fffd;
}
#enter:hover {
	background-color: #58a0fffd;
}

#backspace {
	width: 2.5em;
	margin-left: 1em;
	background-color: rgb(245, 68, 177);
}
#backspace:hover {
	background-color: rgb(243, 104, 190);
}

.spacer {
	visibility: hidden;
}
